* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 465px;
  background: white;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 40px;
}

.form-wrapper__logo {
  margin: auto;
  max-width: 70%;
}

.form-wrapper__logo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.auth-form__group {
  margin-top: 15px;
}

.auth-form__label {
  color: #02408e;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  display: inline-block;
  margin: 0 0 0.5rem 0;
}

.auth-form__control {
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  height: 36px;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  border-radius: 2px;
  width: 100%;
  box-shadow: none !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.auth-form__select {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out , box-shadow .15s ease-in-out;
  border: 1px solid #f0e9ff;
  border-radius: 5px;
  height: 48px;
  font-size: 13px;
  background: transparent;
}

.auth-form__button {
  background: #02408e !important;
  border: 1px solid #02408e !important;
  color: #fff !important;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 24px 36px -11px rgba(0, 0, 0, 0.09);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
