// Общие настройки
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
a {
    text-decoration: none;
    color: #000;
}
// Модификаторы
._container {
    max-width: 1170px;
    margin: 0 auto;
}
// Модификаторы цвета для шифра раздела
._code-green {
    color: green;
}
._code-yellow {
    color: rgb(197, 197, 34);
}
._code-red {
    color: red;
}
//===========================
.account-page {
    margin-top: 20px;
    border: 1px solid;
}
.nav-bar {
    // background: #3f7abe;
    // color: #fff;
    display: flex;
    padding: 10px 15px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    &__logo {
        flex-shrink: 0;
        width: 10%;
    }
    &__logo img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__link {
        // Todo Ждем корректировок
    }

    &__title {
        // Todo Ждем корректировок
    }
}
.title-bar {
    display: flex;
    padding: 10px 15px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;

    &__obj-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // flex-basis: 35%;
    }

    &__data-load {
        // ? Может уменьшить размер
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__info-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        // flex-basis: 40%;
    }
    &__crm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__button {
        margin-left: auto;
    }
}
.row {
    display: flex;
    flex-wrap: nowrap;
    &__left-column {
        margin-right: 20px;
    }
    &__right-column {
    }
}
.upload-btn {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    // width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 20px 30px;
    // font-size: 11px;
    text-align: center;
    // text-transform: uppercase;
    // color: #524f4e;
    color: white;
    // background: white;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 100% 0;
    background-size: 200% 200%;

    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
    transition: 0.3s;
}
.upload-btn:hover {
    // background: #2ee59d;
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
    color: white;
    transform: translateY(-7px);
}
// Стиль таблицы
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr:hover {
    font-weight: bold;
    color: #009879;
}



